html.WMApp body .PageTitle {
background-color: #ffffff;
color: #630e0e;
font-weight: bold;
font-size: 18px;
text-decoration: none;
text-align: left;
font-style: normal;

}




html.WMApp body .GWF {

}

html.WMApp body .GWF1 {

}